@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b; /* Zinc 950 */
  color: #fafafa;
}

/* Textura estilo Tatame (Quadriculado sutil) */
.bg-tatame {
  background-color: #09090b;
  background-image: linear-gradient(#18181b 2px, transparent 2px), linear-gradient(90deg, #18181b 2px, transparent 2px);
  background-size: 40px 40px;
  background-position: -2px -2px;
}

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}

/* Animações personalizadas */
@keyframes pulse-red {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}

.animate-pulse-red {
  animation: pulse-red 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}